@font-face {
    font-family: "Russo One";
    src: url("/assets/fonts/Russo One/RussoOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cascadia Mono";
    src: url("/assets/fonts/Cascadia Mono/CascadiaMonoPL-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    color: #000;
    background-color: #fff;
}

h1 {
    font-size: 48px;
    font-family: "Russo One", sans-serif;
}

h2 {
    font-size: 36px;
    font-family: "Russo One", sans-serif;
}

h3 {
    font-size: 18px;
    font-family: "Russo One", sans-serif;
}

span {
    font-family: "Cascadia Mono", serif;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Cascadia Mono", serif;
}