header {
    font-size: 1.625rem;
    margin: 1em;
    text-align: center;
    font-family: "Russo One", sans-serif;
}

header a {
    text-decoration: none;
    color: #000;
}

h2 {
    margin: 0 1em;
}

.grid-container {
    margin: 1em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.grid-item {
    min-height: 42.5vh;
    border: 2px solid #ccc;
    padding: 0.625em;
    cursor: pointer;
    border-radius: 0.625em;
    transition: 0.225s ease;
}

.grid-item img {
    width: 100%;
    border-radius: 0.625em;
}

.item-content {
    text-align: left;
    margin-top: 0.625em;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.episode {
    font-size: 1rem;
    background-color: #D9D9D9;
    padding: 0.375em 0.625em;
    border-radius: 0.312em;
}

.episode, .username {
    margin: 0;
}

.duration {
    font-size: 1rem;
}

h3, .duration, .episode, .username {
    cursor: text;
}

.grid-item:hover {
    position: relative;
    transform: translate(-0.375em, -0.375em);
    box-shadow: 0.375em 0.375em 0 #000;
}