html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1em;
}

.cd-image {
    width: 15em;
    height: 15em;
}

.cd-image img {
    width: 100%;
}

button {
    width: 50%;
    color: #000;
    padding: 0.625em;
    cursor: pointer;
    border-radius: 0.875em;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    border: solid 2px #000;
    transition: 0.3s ease;
    font-family: "Russo One", sans-serif;
}

button:hover {
    color: #fff;
    background-color: #000;
}